<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Task</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    
    <div class="container">
      <% flash.each do |key, value| %>
        <br/>
        <br/>
        <div class="alert alert-<%= key %>" style="color:green;"><%= value %></div>
      <% end %>
    </div>
  </body>
</html>