<!DOCTYPE html>
<html>
  <head>
    <title>Kafka Task</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="js-page">
      <%= yield %>
    </div>
    
    <div class="container">
      <% flash.each do |key, value| %>
        <br/>
        <br/>
        <div class="alert alert-<%= key %>" style="color:green;"><%= value %></div>
      <% end %>
    </div>
    
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      $(document).ready(function(){
        if (window.onDomLoadFN)
          window.onDomLoadFN();
      });
    </script>
  </body>
</html>